<p id="notice"><%= notice %></p>
<div class="row">
  <div class="left_content col-lg-2">
    <h3>クイックメニュー</h3>
    <div class="panel panel-default">
      <div class="list-group">
        <a class="list-group-item" href="#"><i class="fa fa-home" aria-hidden="true"></i> ホーム</a>
        <% if user_signed_in? %>
        <% else %>
          <%= link_to new_user_session_path, :style=>"text-decoration:none;", class:"list-group-item" do %><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン<% end %>
          <%= link_to new_user_registration_path,:style=>"text-decoration:none;", class:"list-group-item" do %><i class="fa fa-user-plus" aria-hidden="true"></i> アカウント作成<% end %>
        <% end %>
        <a class="list-group-item" href="#">共有リクエスト</a>
        <a class="list-group-item" href="#"><i class="fa fa-search" aria-hidden="true"></i> 探す</a>
        <%= link_to new_post_path, :style=>"text-decoration:none;", class:"list-group-item" do %><i class="fa fa-upload" aria-hidden="true"></i> アップロード<% end %>
        <a class="list-group-item" href="#">フィードバック</a>
        <a class="list-group-item" href="#">クイック添削</a>
        <a class="list-group-item" href="#">コンタクト</a>
      </div>
    </div>
  </div>
  <div class="right_content col-lg-10">
    <div class="bg_message">
      <p style="position: absolute; top: 10px; bottom: 0; left: 30px;">
        Informal Business Knowledge Sharing Platform
      </p>
      <p style="font-size: 20pt;position: absolute; top: 40px; bottom: 0; left: 30px;">
        Your Folder
      </p>
      <p style="font-size: 20pt;line-height: 30pt;width:100%;">ー  働き方改革  －
      <br>知識・情報・スキルをシェアして、業務効率を向上させ、
      <br>「考える」時間を増やす
      <p>
    </div>
    <div class="row">
      <div class="new_articles col-md-8">
        <h3>新着ニュース</h3>
        <div class="row">
        <% @articles.each do |article| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <img src="..." alt="image">
                <h4><strong><%= article.title %></strong></h4>
                <p><%= article.body %></p>
                <%= link_to article do %><div class="btn btn-default" role="button">もっと見る &raquo;</div><% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="links  col-md-4">
        <h3>関連リンク</h3>
        <ul>
          <li><a>リンク１</a></li>
          <li><a>リンク２</a></li>
          <li><a>リンク３</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
