<p id="notice"><%= notice %></p>
<div class="bg_message">
  <p style="position: absolute; top: 20px; bottom: 0; left: 30px;">
    Informal Business Knowledge Sharing Platform
  </p>
  <p style="font-size: 20pt;position: absolute; top: 50px; bottom: 0; left: 30px;">
    Your Folder
  </p>
  <p style="font-size: 20pt;line-height: 30pt;width:100%;">ー  働き方改革  －
  <br>知識・情報・スキルをシェアして、業務効率を向上させ、
  <br>「考える」時間を増やす
  <p>
</div>
<div class="row">
  <div class="new_articles col-md-8">
    <h3>新着ニュース</h3>
    <div class="row">
    <% @articles.each do |article| %>
      <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <h4>
              <p style="font-size:10pt; margin-top:-15px;">
                <%= article.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
                <br><%= link_to article do %>
                  <strong><%= article.title.truncate(48, omission: '......') %></strong>
                <% end %>
              </p>
            </h4>
            <p style="height:30px; font-size: 9pt;"><%= article.body.truncate(103, omission: '......') %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="links  col-md-4">
    <h3>関連リンク</h3>
    <ul>
      <li><a href="http://icooon-mono.com/">アイコン素材ダウンロードサイト「icooon-mono」</a></li>
    </ul>
  </div>
