<div class="row">
  <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
    <% if user_signed_in? && @user==current_user %>
      <%= link_to edit_user_registration_path,:style=>"text-decoration:none;" do %>アカウント情報の変更<% end %>
    <% end %>
   <br>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= @user.nickname %>さん</h4>
      </div>
      <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td>ユーザー名： <span class="label label-default">公開</span></td></td>
                <td><%= @user.nickname %></td>
              </tr>
              <!-- 自分に対して表示されるビュー -->
              <% if user_signed_in? && @user==current_user %>
                <tr>
                  <td>Eメール： <span class="label label-default">非公開</span></td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td>性別：
                    <% if @user.sex_status == "public" %>
                      <span class="label label-default">公開</span></td>
                    <% else %>
                      <span class="label label-default">非公開</span></td>
                    <% end %>
                  <td><%= @user.sex %></td>
                </tr>
                <tr>
                  <td>年齢：
                    <% if @user.age_status == "public" %>
                      <span class="label label-default">公開</span></td>
                    <% else %>
                      <span class="label label-default">非公開</span></td>
                    <% end %>
                  <td><%= @user.age %></td>
                </tr>
                <tr>
                  <td>勤め先の場所： <span class="label label-default">非公開</span></td>
                  <td><%= @user.place.name %></td>
                </tr>
                <tr>
                  <td>会社名： <span class="label label-default">非公開</span></td>
                  <td><%= @user.company %></td>
                </tr>
                <tr>
                  <td>業種：
                  <% if @user.industry_status == "public" %>
                    <span class="label label-default">公開</span></td>
                  <% else %>
                    <span class="label label-default">非公開</span></td>
                  <% end %>
                  <td><%= @user.industry.name %></td>
                </tr>
                <tr>
                  <td>職種：
                  <% if @user.occupation_status == "public" %>
                      <span class="label label-default">公開</span></td>
                    <% else %>
                      <span class="label label-default">非公開</span></td>
                    <% end %>
                  <td><%= @user.occupation.name %></td>
                </tr>
                <tr>
                  <td>役職： <span class="label label-default">非公開</span></td>
                  <td><%= @user.position %></td>
                </tr>
                <tr>
                  <td>従業員の数： <span class="label label-default">非公開</span></td>
                  <td><%= @user.number_of_employees %></td>
                </tr>
              <% else %>
                <tr>
                  <% if @user.sex_status == "public" %>
                    <td>性別：</td>
                    <td><%= @user.sex %></td>
                  <% end %>
                </tr>
                <tr>
                  <% if @user.age_status == "public" %>
                    <td>年齢：</td>
                    <td><%= @user.age %></td>
                  <% end %>
                </tr>
                <tr>
                  <% if @user.industry_status == "public" %>
                    <td>業種：</td>
                    <td><%= @user.industry.name %></td>
                  <% end %>
                </tr>
                <tr>
                  <% if @user.occupation_status == "public" %>
                    <td>職種：</td>
                    <td><%= @user.occupation.name %></td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td>アップロード数： <%= link_to @user do %><span class="label label-default">もっと見る</span><% end %></td>
                <td><%= @user.posts.length %></td>
              </tr>
              <tr>
                <td>お気に入りのアイテム数： <%= link_to likes_user_path do %><span class="label label-default">もっと見る</span><% end %></td>
                <td><%= @user.likes.length %></td>
              </tr>
              <tr>
                <td>自己紹介：</td>
                <td><%= @user.biography %></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
