<p id="notice"><%= notice %></p>

<h1><i class="fa fa-th" aria-hidden="true"></i>
  <%= @sub6category.sub5category.sub4category.sub3category.sub2category.subcategory.category.name %>
  > <%= @sub6category.sub5category.sub4category.sub3category.sub2category.subcategory.subcategory_name %>
  > <%= @sub6category.sub5category.sub4category.sub3category.sub2category.sub2category_name %>
  > <%= @sub6category.sub5category.sub4category.sub3category.sub3category_name %>
  > <%= @sub6category.sub5category.sub4category.sub4category_name %>
  > <%= @sub6category.sub5category.sub5category_name %>
  > <%= @sub6category.sub6category_name %> のアイテム
</h1>

<%= render partial: '/posts/posts_index', locals: {posts: @posts, path: sub6category_path} %>
