<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :category_id, value: @category.id %>
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :body, "コメント" %><br>
    <%= f.text_area :body, size:'80x5', class:"form-control" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-default">送信</button>
  </div>
<% end %>
