<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :filetype_id, 'ファイル種別' %><br />
    <%= f.collection_select :filetype_id, Filetype.all, :id, :name, {prompt:"選択してください"}, { autofocus: 'true', class: 'form-control'}  %>
  </div>
  <div class="form-group filetype2_area">
<!--     <%= render partial: 'select_filetype2', locals: {filetype_id: Filetype.first.id} %> -->
  </div>
  <div class="form-group">
    <%= f.label :category_id, 'カテゴリ' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt:"選択してください"}, { autofocus: 'true', class: 'form-control'}  %>
  </div>
  <div class="form-group subcategory_area">
<!--     <%= render partial: 'select_subcategory', locals: {category_id: Category.first.id} %> -->
  </div>
  <div class="form-group sub2category_area">
  </div>
  <div class="form-group sub3category_area">
  </div>
  <div class="form-group sub4category_area">
  </div>
  <div class="form-group sub5category_area">
  </div>
  <div class="form-group sub6category_area">
  </div>
  <div class="form-group">
    <%= f.label :file, 'ファイルをアップロード' %>
    <span>（対応している拡張子：".pdf", ".doc", ".docx", ".xls", ".xlsx", ".ppt", ".pptx"）</span>
    <%= f.file_field :file, accept:"application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-powerpoint,  application/vnd.openxmlformats-officedocument.presentationml.presentation" %>
    <%= f.hidden_field :file_cache %>
  </div>
  <div class="form-group">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @post.persisted? && @post.file? %>
      <label>
        <%= f.check_box :remove_file %>
        ファイルを削除
      </label>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :body, 'コメント' %><br>
    <%= f.text_area :body, class:"form-control", size:'50x15'  %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">送信</button>
  </div>
<% end %>
