<%= form_tag path, :method => 'get' do %>
  <div class="form-group sort">
    <%= select_tag 'sort', options_for_select([["新しい順", "created_at_desc"], ["古い順", "created_at_asc"], ["人気順", "likes_desc"], ["コメントの多い順", "comments_desc"]], { selected: params[:sort] }), { autofocus: 'true', onChange:"this.form.submit()", class: 'form-control' } %>
  </div>
<% end %>
<div class="row">
  <% posts.each do |post| %>
    <div class="col-sm-6 col-md-3 post">
      <div class="thumbnail">
        <div class="caption">
          <div style="height:180px;">
            <% if post.file? %>
              <%= link_to post do %>
                <img src=<%= post.file.url+".jpg" %> alt="image" style="position: absolute; top: 20px; bottom: 0; left: 0; right: 0; margin: 0 auto; max-width:80%; max-height:180px;">
                <% end %>
            <% else %>
              <%= link_to post do %>
                <div style="width:100%; height:180px; border:1px solid #e3e3e3;"><p style="text-align: center; line-height: 180px;font-weight: 900;">TEXT ONLY</p></div>
              <% end %>
            <% end %>
          </div>
          <h4>
            <p style="font-size:10pt; margin-bottom: 0;color:gray;"><%= post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></p>
            <p style="height:55px; font-size:10pt;"><%= link_to post do %><strong><%= post.title.truncate(32, omission: '......') %></strong><% end %>
            <br><%= link_to filetype_path(id: post.filetype.id) do %><span class="label label-default"><%= post.filetype.name %></span><% end %>
            </p>
          </h4>
          <p style="height:30px; font-size: 9pt;"><%= post.body.truncate(35, omission: '......') %></p>
          <hr>
          <div class="post_info">
            <i class="fa fa-comments fa-lg" aria-hidden="true"></i> <%= post.comments.length %>
            <span class="likes_count_index">&nbsp;<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> <%= Like.where(post_id: post.id).count %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="pagenation"><%= paginate posts %></div>
