<p id="notice"><%= notice %></p>

<div class="info">
  <p>
    <h1><strong><%= @post.title %></strong> by <%= link_to user_path(current_user) do %><%= @post.user.nickname %><% end %></h1>
    <p>ファイル種別：<%= @post.filetype.name %> > <%= @post.filetype2.filetype2_name %></p>
    <p>カテゴリ：<%= @post.category.name %></p>
  </p>
</div>

<hr>
<div class="body">
  <p>
    <%= @post.body %>
  </p>
</div>
<br>
<div class="file">
  <% if @post.file? %>
    <!-- PDFファイルはそのまま表示、それ以外のファイルは変換されたPDFファイルを表示 -->
    <% if File.extname(@post.file.path)==".PDF" || File.extname(@post.file.path)==".pdf" %>
      <object data=<%= @post.file.url %> type="application/pdf" width="100%" height="800px"></object>
    <% else %>
        <object data=<%= @pdf_url %> type="application/pdf" width="100%" height="800px"></object>
        <p>
        <%= link_to @post.file.url, class:"btn btn-primary btn-md" do %><i class="fa fa-download" aria-hidden="true"></i> ダウンロード<% end %></p>
    <% end %>
  <% end %>
</div>

<div class="comments">
  <p>
    <h3><i class="fa fa-comments" aria-hidden="true"></i> コメント</h3>
    <%= render partial: 'comments', locals: {comments: @comments} %>
  </p>
  <% if user_signed_in? %>
      <%= render '/comments/form' %>
    <% else %>
      <%= link_to "ログインしてコメントを書く", new_user_session_path, class: 'post' %>
  <% end %>
</div>
<% if user_signed_in? && @post.user == current_user %>
  <%= link_to '編集', edit_post_path(@post) %> |
  <%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to '戻る', posts_path %>
