<p id="notice"><%= notice %></p>
<div class="row body">
  <!-- ファイルが添付されている場合のビュー -->
  <% if @post.file? %>
    <div class="col-md-5">
      <div class="info">
        <p>
          <p style="margin-bottom:-10px;"><%= @post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
          <h1><strong><%= @post.title %></strong> by <%= link_to user_path(@post.user) do %><%= @post.user.nickname %><% end %></h1>
          <p><i class="fa fa-file-o" aria-hidden="true"></i> <%= link_to filetype_path(@post.filetype) do %><%= @post.filetype.name %><% end %> > <%= link_to filetype2_path(@post.filetype2) do %><%= @post.filetype2.filetype2_name %><% end %></p>
          <p><i class="fa fa-info-circle" aria-hidden="true"></i> <%= link_to category_path(@post.category) do %><%= @post.category.name %><% end %>
          <% if @post.subcategory_id? %>
            > <%= link_to subcategory_path(@post.subcategory) do %><%= @post.subcategory.subcategory_name %><% end %>
          <% end %>
          <% if @post.sub2category_id? %>
            > <%= link_to sub2category_path(@post.sub2category) do %><%= @post.sub2category.sub2category_name %><% end %>
          <% end %>
          <% if @post.sub3category_id? %>
            > <%= link_to sub3category_path(@post.sub3category) do %><%= @post.sub3category.sub3category_name %><% end %>
          <% end %>
          <% if @post.sub4category_id? %>
            > <%= link_to sub4category_path(@post.sub4category) do %><%= @post.sub4category.sub4category_name %><% end %>
          <% end %>
          <% if @post.sub5category_id? %>
            > <%= link_to sub5category_path(@post.sub5category) do %><%= @post.sub5category.sub5category_name %><% end %>
          <% end %>
          <% if @post.sub6category_id? %>
            > <%= link_to sub6category_path(@post.sub6category) do %><%= @post.sub6category.sub6category_name %><% end %>
          <% end %>
          </p>
          <% if user_signed_in? && @post.user == current_user %>
            <p style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= current_user.nickname %>さんがアップロードしたアイテムです</p>
            <p style="text-align: right">
              <%= link_to edit_post_path(@post) do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %> |
              <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash" aria-hidden="true"></i> 削除<% end %>
            </p>
          <% end %>
        </p>
      </div>
      <p>
        <hr>
        <%= simple_format(@post.body) %>
      </p>
    </div>
    <br>
    <div class="file col-md-7">
      <!-- PDFファイルはそのまま表示、それ以外のファイルは変換されたPDFファイルを表示 -->
      <% if File.extname(@post.file.path)==".PDF" || File.extname(@post.file.path)==".pdf" %>
        <object data=<%= @post.file.url %> type="application/pdf" width="100%" height="790px"></object>
      <% else %>
          <object data=<%= @pdf_url %> type="application/pdf" width="100%" height="790px"></object>
      <% end %>
      <p style="text-align: right;">
        <%= link_to @post.file.url, class:"btn btn-primary btn-md download-btn" do %><i class="fa fa-download" aria-hidden="true"></i> ダウンロード<% end %>
      </p>
    </div>
  <% else %>
  <!-- ファイルが添付されていない場合のビュー -->
    <div class="info">
      <p>
        <p style="margin-bottom:-10px;"><%= @post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
        <h1><strong><%= @post.title %></strong> by <%= link_to user_path(@post.user) do %><%= @post.user.nickname %><% end %></h1>
        <p><i class="fa fa-file-o" aria-hidden="true"></i> <%= link_to filetype_path(@post.filetype) do %><%= @post.filetype.name %><% end %> > <%= link_to filetype2_path(@post.filetype2) do %><%= @post.filetype2.filetype2_name %><% end %></p>
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> <%= link_to category_path(@post.category) do %><%= @post.category.name %><% end %>
        <% if @post.subcategory_id? %>
          > <%= link_to subcategory_path(@post.subcategory) do %><%= @post.subcategory.subcategory_name %><% end %>
        <% end %>
        <% if @post.sub2category_id? %>
          > <%= link_to sub2category_path(@post.sub2category) do %><%= @post.sub2category.sub2category_name %><% end %>
        <% end %>
        <% if @post.sub3category_id? %>
          > <%= link_to sub3category_path(@post.sub3category) do %><%= @post.sub3category.sub3category_name %><% end %>
        <% end %>
        <% if @post.sub4category_id? %>
          > <%= link_to sub4category_path(@post.sub4category) do %><%= @post.sub4category.sub4category_name %><% end %>
        <% end %>
        <% if @post.sub5category_id? %>
          > <%= link_to sub5category_path(@post.sub5category) do %><%= @post.sub5category.sub5category_name %><% end %>
        <% end %>
        <% if @post.sub6category_id? %>
          > <%= link_to sub6category_path(@post.sub6category) do %><%= @post.sub6category.sub6category_name %><% end %>
        <% end %>
        </p>
        <% if user_signed_in? && @post.user == current_user %>
          <p style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= current_user.nickname %>さんがアップロードしたアイテムです</p>
          <p style="text-align: right; margin-top:-30px;">
            <%= link_to edit_post_path(@post) do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %> |
            <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash" aria-hidden="true"></i> 削除<% end %>
          </p>
        <% end %>
      </p>
    </div>
    <p>
      <hr>
      <%= simple_format(@post.body) %>
    </p>
  <% end %>
  <div id="like_btn">
    <% if user_signed_in? %>
    <%= render partial: 'like', locals: {current_user_like: Like.find_by(user_id: current_user.id, post_id: @post.id)} %>
    <% else %>
      <div class="like">
        <div id="like">
          <%= link_to new_user_registration_path do %>
              <i class="fa fa-heart-o fa-2x do-like" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="likes_count"><%= @likes_count %></div>
      </div>
    <% end %>
  </div>
</div>
<h3><i class="fa fa-comments" aria-hidden="true"></i> コメント</h3>
<div class="comments" id="comments">
    <%= render partial: 'comments', locals: {comments: @comments} %>
</div>
<% if user_signed_in? %>
    <%= render '/comments/form' %>
  <% else %>
    <%= link_to "ログインしてコメントを書く", new_user_session_path, class: 'post' %>
<% end %>
