<p id="notice"><%= notice %></p>

<div class="info">
  <p>
    <h1><strong><%= @post.title %></strong> by <%= link_to user_path(current_user) do %><%= @post.user.nickname %><% end %></h1>
    <p><i class="fa fa-file-o" aria-hidden="true"></i> <%= @post.filetype.name %> > <%= @post.filetype2.filetype2_name %></p>
    <p><i class="fa fa-info-circle" aria-hidden="true"></i> <%= @post.category.name %></p>
    <p style="text-align: right; margin-top:-30px;">
      <% if user_signed_in? && @post.user == current_user %>
        <%= link_to edit_post_path(@post) do %><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> 編集<% end %> |
        <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash fa-lg" aria-hidden="true"></i> 削除<% end %>
      <% end %>
    </p>
  </p>
</div>

<hr>
<div class="body">
  <p>
    <%= @post.body %>
  </p>
</div>
<br>
<div class="file">
  <% if @post.file? %>
    <!-- PDFファイルはそのまま表示、それ以外のファイルは変換されたPDFファイルを表示 -->
    <% if File.extname(@post.file.path)==".PDF" || File.extname(@post.file.path)==".pdf" %>
      <object data=<%= @post.file.url %> type="application/pdf" width="100%" height="800px"></object>
    <% else %>
        <object data=<%= @pdf_url %> type="application/pdf" width="100%" height="800px"></object>
        <p>
        <%= link_to @post.file.url, class:"btn btn-primary btn-md" do %><i class="fa fa-download" aria-hidden="true"></i> ダウンロード<% end %></p>
    <% end %>
  <% end %>
</div>

<h3><i class="fa fa-comments" aria-hidden="true"></i> コメント</h3>
<div class="comments" id="comments">
    <%= render partial: 'comments', locals: {comments: @comments} %>
</div>
<% if user_signed_in? %>
    <%= render '/comments/form' %>
  <% else %>
    <%= link_to "ログインしてコメントを書く", new_user_session_path, class: 'post' %>
<% end %>
