<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Comments:</strong>
  <%= render partial: 'comments', locals: {comments: @comments} %>
</p>

<% if user_signed_in? %>
    <%= render '/comments/form' %>
  <% else %>
    <%= link_to "ログインしてコメントを書く", new_user_session_path, class: 'post' %>
<% end %>

<% if user_signed_in? && @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', posts_path %>
