<p id="notice"><%= notice %></p>

<div class="info">
  <p>
    <h1><strong><%= @post.title %></strong> by <%= @post.user.nickname %></h1>
    <p>ファイル種別：
      <% if @post.filetype.parent!=nil %>
        <%= @post.filetype.parent.name %> > <%= @post.filetype.name %>
      <% else %>
      <%= @post.filetype.name %>
      <% end %>
    </p>
    <p>カテゴリ：<%= @post.category.name %></p>
  </p>
</div>

<hr>

<div class="body">
  <p>
    <%= @post.body %>
  </p>
</div>

<div class="comments">
  <p>
    <h3><i class="fa fa-comments" aria-hidden="true"></i> コメント</h3>
    <%= render partial: 'comments', locals: {comments: @comments} %>
  </p>
  <% if user_signed_in? %>
      <%= render '/comments/form' %>
    <% else %>
      <%= link_to "ログインしてコメントを書く", new_user_session_path, class: 'post' %>
  <% end %>
</div>
<% if user_signed_in? && @post.user == current_user %>
  <%= link_to '編集', edit_post_path(@post) %> |
  <%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to '戻る', posts_path %>
